.container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: calc(50% - 806px/2);
top: 173px;
    
}

.input{
    width: 736px;
height: 54px;
background: var(--gray-400);
border: 1px solid #0D0D0D;
border-radius: 8px;
padding: 16px;
gap: 8px;

margin-right: 8px;



}
.input::placeholder{
    font-weight: 400;
font-size: 16px;
line-height: 140%;
color: var(--gray-300);
}

.button{
    width: 90px;
height: 52px;
font-weight: 700;
font-size: 14px;
line-height: 140%;



background: var(--blue-dark);
border-radius: 8px;



border: none;

color: #F2F2F2;
}

.line{
    
    border-top: 1px solid var(--gray-400);
}