nav{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.taskCreat{
    font-weight: 700;
font-size: 14px;
line-height: 17px;
color: var(--blue);
}

.taskFinished{
    font-weight: 700;
font-size: 14px;
line-height: 17px;
color: var(--purple);
}

.taskCreat span{
    padding: 2px 8px;
gap: 10px;


width: 25px;
height: 19px;

color: #fff;

background: var(--gray-400);
border-radius: 999px;

}

.taskFinished span{
    padding: 2px 8px;
gap: 10px;


width: 25px;
height: 19px;

color: #fff;

background: var(--gray-400);
border-radius: 999px;

}